.Toastify__toast-container {
    width: auto;
    text-align: center;
}
.Toastify__toast-container--top-center {
    left: calc(50vw - 75px);
    top: 80px;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
    color: white;
    background-color: red;
}

@media (min-width: 600px) {
    .Toastify__toast-container--top-center {
        top: 100px;
    }
}